#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid white;
    outline: none;
    background-color: rgb(18, 129, 37);
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50px;
}

#myBtn:hover {
    background-color: white;
    color: rgb(18, 129, 37);
}