@media only screen and (max-width: 600px) {
    #navbar {
        height: 75px !important;
    }
    #nav-left {
        margin-left: 15px;

        height: 70%;
    }
    #nav-right {
        margin-right: 15px;
    }
    #nav-right a {
        padding: 10px 10px !important;
    }
    #title {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 600px) {
    #navbar {
        height: 80px !important;
    }
    #nav-left {
        margin-left: 45px;
        height: 80%;
    }
    #nav-right {
        margin-right: 45px;
    }
    #nav-right a {
        padding: 10px 20px !important;
    }
    #search{
        width: 60%;
    }
    #title {
        font-size: 3.5rem;
    }
}

@media only screen and (min-width: 768px) {
    #navbar {
        height: 85px !important;
    }
    #nav-left {
        margin-left: 60px;
        height: 100%;
    }
    #nav-right {
        margin-right: 60px;
    }
    #nav-right a {
        padding: 10px 30px !important;
    }
    #search{
        width: 50%;
    }
    #title {
        font-size: 4rem;
    }
}

body {
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 14px !important;

    padding: 0 !important;
}

#nav-left {
    width: 100%;
}

#nav-right {
    top: 6px;
    right: 0;

    width: 750px;
}

#logo-a {
    padding: 10px 0;
    margin: 0 !important;
}

#logo-img {
    width: auto;
}

#nav-right {
    position: absolute;
}

#nav-right .row {
    margin: 0 !important;
}

#nav-right a {
    display: inline;

    font-weight: bold;
    color: black;
}

#nav-right a:hover {
    color: white;
    background-color: green;
}

#card-user{
    margin-top: 20px;
}

#search button{
margin: 0 !important;
}

#content {
    max-width: 850px !important;
}

#content-item1 .row {
    margin: 0 15px;
}

#search-input {
    margin: 0 !important;
}

#search input[type="radio"] {
    margin: 0 10px 0 25px;
}

#list-tb th {
    text-align: center !important;
}

.table-boder {
    border: 1px solid black;
}

#list-tb table {
    width: 850px;
}

.table-boder {
    margin-top: 25px;
}

th {
    border-color: black !important;
    border-right: 1px solid black;
}

td {
    border-color: black !important;
}

.hinh {
    text-align: center;
}

.table img {
    height: 200px;
    max-width: 100%;
}

#group-function i {
    cursor: pointer;
    font-size: 3rem;

    margin: 0 40px;
}

input[type=text]{
    width: 100% !important;
}